<?xml version="1.0" encoding="UTF-8"?>
<identities>
        <identity>
                <display-name>Test user {{ new_user }}</display-name>
                <user>{{ new_user }}</user>
                <password></password>
                <realm>{{ realm }}</realm>
                <trust-anchor>
                        <server-cert>{{ idp_server_cert_hash }}</server-cert>
                </trust-anchor>
        </identity>
</identities>
