home_server {{ idp }}_server1 {
    ipaddr = {{ idp_ip }}
    port = 2083
    type = auth
    secret = radsec
    proto = tcp
    status_check = none
   
    tls {
        private_key_password = whatever
        private_key_file = ${certdir}/client.pem
        certificate_file = ${certdir}/client.pem
        ca_file = ${cadir}/ca.pem
        dh_file = ${certdir}/dh
        fragment_size = 8192
        ca_path = ${cadir}
        cipher_list = "DEFAULT"
        cache {
            enable = no
            lifetime = 24 # hours
            name = "{{ idp }}"
            persist_dir = ${logdir}/{{ idp }}
        }
        require_client_cert = yes
        verify {
        }
    }
}
  
#  FreeRADIUS supports server pools:
#  Moonshot pools will only contain one server (the above home_server)
#
home_server_pool {{ idp }}_authpool {
    home_server = {{ idp }}_server1
}
  
#  The identity realm camford.ac.uk points to the server pool that
#  will service requests camford.ac.uk.
#  That pool is the above home_server_pool
#
realm {{ realm }} {
    auth_pool = {{ idp }}_authpool
    nostrip
}
