realm gss-eap {
    type = "TLS"
    cacertfile = "/etc/freeradius/certs/ca.pem"
    certfile = "/etc/freeradius/certs/client.pem"
    certkeyfile = "/etc/freeradius/certs/client.pem"
    disable_hostname_check = yes
    server {
        hostname = "{{ radsec_host }}"
        service = "2083"
        secret = "radsec"
    }
}
