{% raw %}
moonshot_saml.post-auth {
  # if the request contains the GSS-Acceptor-* attributes and is not a trust router request
  if ( (&request:GSS-Acceptor-Service-Name) && (&request:GSS-Acceptor-Host-Name) && ("%{tolower:%{request:GSS-Acceptor-Service-Name}}" != 'trustidentity') ) {
    if (&reply:Moonshot-Host-TargetedId) {
      update reply {
        # do a query against the database to see if an account mapping exists for this Moonshot-Host-TargetedId, otherwise return the Targeted-Id
        Tmp-String-1 := "%{%{sql:SELECT account_id_map.local_uid FROM `account_id_map` WHERE account_id_map.gss_acceptor = '%{GSS-Acceptor-Service-Name}/%{GSS-Acceptor-Host-Name}' AND account_id_map.targeted_id = '%{reply:Moonshot-Host-TargetedId}'}:-%{reply:Moonshot-Host-TargetedId}}"
      }
    } # if TargetedId
  
    # erase incoming SAML Assertion
    update reply {
      SAML-AAA-Assertion !* ANY
    }
  
    # create a new SAML assertion, use the contents of control:Tmp-String-1 as the name (if it exists), otherwise use 'moonshot'
    update reply {
      SAML-AAA-Assertion = '<saml:Assertion xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion" IssueInstant="2011-03-19T08:30:00Z" ID="foo" Version="2.0">'
      SAML-AAA-Assertion += '<saml:Issuer>urn:mace:incommon:osu.edu</saml:Issuer>'
      SAML-AAA-Assertion += '<saml:AttributeStatement>'
      SAML-AAA-Assertion += '<saml:Attribute NameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" Name="urn:oid:1.3.6.1.4.1.5923.1.1.1.7">'
      SAML-AAA-Assertion += "<saml:AttributeValue>%{%{reply:Tmp-String-1}:-moonshot}</saml:AttributeValue>"
      SAML-AAA-Assertion += '</saml:Attribute></saml:AttributeStatement>'
      SAML-AAA-Assertion += '</saml:Assertion>'
      User-Name := "%{%{reply:Tmp-String-1}:-moonshot}"
    }
  } # if gss-acceptor
}
{% endraw %}
